@model IEnumerable<pin_projekt.Models.Tablica_igraca>

@{
    ViewData["Title"] = "Index";
}


<h2>Tablica igrača</h2>
<hr />

<form asp-action="Detalji" method="get">
    <label>Pretraži po poziciji</label>
    <input type="text" name="Pozicija" />
    <input type="submit" value="Pretraži" />
</form>

<div><a asp-action="Create">Dodaj novog igrača</a></div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prezime)
            </th>

            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prezime)
                </td>
                <td>
                    <a asp-controller="Tablica_igracas" asp-action="Edit" asp-route-id="@item.ID">Uredi</a> 
                    <a asp-action="Delete" asp-route-id="@item.ID" onclick="return confirm('Jeste li sigurni obrisati @item.ime @item.prezime?')">Izbriši</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
